Python (3.8.8) software:
PyTorch (v2.0.0)
Scanpy (v1.9.8)
scIB (v1.0.2)
scikit-learn (v1.1.1)

R (4.1.0) software:
scuttle (v1.4.0)
Seurat (v4.3.0)
Signac (v1.9.0)
StabMap (v0.1.8)
Monocle 3 (v1.3.7)
